.footer-container{
   
    display:flex;
    align-items:center;
    justify-content:center;
    padding:20px;
    padding-bottom:0px;
    background-color:#eee;
}
.footer-container .footcont{
    text-align:center;
}
.footer-container  .footcont .txt{
    display:inline-block;
    color:#141850;
    font-size:16px;   
}
